<div class="sidebar">
  <div class="sidebar__logo">
    <h2 style="color: white">Admin</h2>
  </div>
  <h4 style="color: white">Ricardo Tovar</h4>
  <ul>
    <li routerLink="/home/inicio" style="color: white">Inicio</li>
    <li routerLink="/home/segundo" style="color: white">Segundo</li>
    <li routerLink="/home/create" style="color: white">Crear cuestionario</li>
    <li
      routerLink="/dashboard/songs"
      routerLinkActive="is-active"
      style="color: white"
    >
      Canciones
    </li>
  </ul>
</div>
